// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #1a6099;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #a92823;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #227745;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Sidemenu
$sidemenu-width: 300px;
$sidemenu-color: #EEEEEE;
$sidemenu-color-active: #E0E0E0;
$sidemenu-color-text: #007a08;
$sidemenu-color-text-active: #006106;



