.information {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 50px;
    background-color: #786cf4;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 40px;
    right: 80px;
    z-index: 100;
}

.my-float {
    margin-top: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #786cf4;
    color: white;
}

.modal-body {padding: 2px 16px;}


.breadcrumb-item.active {
    color: #000000;
}
.navbar-light .navbar-nav .nav-link {
    color: #000000;
}
.text-muted {
    color: #000000 !important;
}

.text-success {
    color: #227745 !important;
}
.btn-danger {
    background-color: #a92823;
    border-color: #a92823;
}
.btn-danger:hover {
    color: #fff;
    background-color: #d0211c;
    border-color: #c51f1a;
}

.btn-success {
    color: #fff;
    background-color: #2b985a;
    border-color: #2b985a;
}
.btn-success:hover {
    color: #fff;
    background-color: #2fa060;
    border-color: #2fa060;
}
