.information {
    position: fixed;
    bottom: 60px;
    right: 80px;

    width: 60px;
    height: 60px;

    background-color: #786cf4;
    color: #FFF;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    font-size: 47px;

    z-index: 1100;
}

.admin-modal-header-axe {
    background-color: #786cf4;
    color: white;
    font-size: xx-large;
}

.close-admin-axe {
    color: white;
}

.breadcrumb-item-active-axe {
    color: #000000 !important;
}

.text-muted-axe {
    color: #000000 !important;
}

.text-success-axe {
    color: #227745 !important;
}
.btn-danger-axe {
    background-color: #a92823 !important;
    border-color: #a92823 !important;
}
.btn-danger-axe:hover {
    color: #fff;
    background-color: #d0211c !important;
    border-color: #c51f1a !important;
}

.btn-success-axe{
    background-color: #2b985a !important;
    border-color: #2b985a !important;
}
.btn-success-axe:hover{
    background-color: #2fa060 !important;
    border-color: #2fa060 !important;
}

.navbar-axe {
    color: #1c1c1c !important;
}
.filter-option-inner-inner {
    color: #1c1c1c !important;
}
