.information {
    position: fixed;
    bottom: 60px;
    right: 80px;

    width: 60px;
    height: 60px;

    background-color: #786cf4;
    color: #FFF;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    font-size: 47px;

    z-index: 1100;
}

.modal-header {
    background-color: #786cf4;
    color: white;
    font-size: xx-large;
}

.close {
    color: white;
}

.breadcrumb-item.active {
    color: #000000;
}
.navbar-light .navbar-nav .nav-link {
    color: #000000;
}
.text-muted {
    color: #000000 !important;
}

.text-success {
    color: #227745 !important;
}
.btn-danger {
    background-color: #a92823;
    border-color: #a92823;
}
.btn-danger:hover {
    color: #fff;
    background-color: #d0211c;
    border-color: #c51f1a;
}

.btn-success {
    color: #fff;
    background-color: #2b985a;
    border-color: #2b985a;
}
.btn-success:hover {
    color: #fff;
    background-color: #2fa060;
    border-color: #2fa060;
}

.info-tooltip {
    position: relative;
    display: inline-block;
}

.info-tooltip .info-tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #786cf4;
    color: #fff;
    padding: 5px 5px;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
}

.info-tooltip:hover .info-tooltiptext {
    visibility: visible;
}

.info-tooltip .info-tooltiptext {
    top: -5px;
    left: 105%;
}
