.layer-content {
    .btn-layer {
        width: 100%;
        padding: 16px;
    }
}
.green-content {
    background-color: lawngreen;
}
.red-content {
    background-color: red;
}
.yellow-content {
    background-color: orange;
}
