.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    height: 100vh;

    > * {
        overflow-y: auto;
    }
}

.sidemenu {
    z-index: 1001;
    min-width: $sidemenu-width;
    max-width: $sidemenu-width;
    background: $sidemenu-color;
    color: $sidemenu-color-text;
    transition: all 0.3s;
    margin-left: -$sidemenu-width;
    height: 100vh;
    position: fixed;

    .sidemenu-header {
        padding: 20px;
        background: $sidemenu-color;
    }

    .menu-item,
    .menu-item:hover,
    .menu-item:focus {
        transition: all 0.3s;

        > a {
            color: inherit;
            text-decoration: none;
        }
    }

    a.sidemenu-toggle {
        padding-right: 8px;

        > i:before {
            content: '\f0fe';
        }

        &[aria-expanded="true"] {
            > i:before {
                content: '\f146';
                font-weight: 900;
            }
        }
    }

    a[data-toggle="collapse"] {
        position: relative;
    }

    ul.components {
        padding: 20px 0;
    }

    ul.show {
        background: $sidemenu-color;
    }

    ul {
        p {
            color: $sidemenu-color-text;
            padding: 10px;
        }

        li {
            > .menu-item {
                font-size: 1.1em;
                display: flex;

                > a {
                    padding: 8px 14px;
                }

                &:hover {
                    color: $sidemenu-color-text-active;
                    background: $sidemenu-color-active;
                }

                &.single > a {
                    margin-left: 40px;
                }
            }
        }

        ul {
            padding-left: 18px !important;

            .menu-item {
                font-size: 0.9em !important;
                background: $sidemenu-color;
            }
        }
    }

    &.active {
        margin-left: 0;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4), 0 0 20px 0 rgba(0, 0, 0, 0.2);
    }
}

.content {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;

    .sidemenu-control {
        position: relative;
        z-index: 1001;
        transition: all 0.3s;

        &.active {
            margin-left: $sidemenu-width;
        }

        .controls {
            margin: 12px;
        }
    }

    .page-content {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
    }
}
