$swapper-transform-off: scale(0);
$swapper-transform-on: scale(1);
$swapper-transition: all 1.8s;

.swapper {
    width: 100%;
    height: 100%;
    position: relative;

    > * {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    > .swapper-back {
        z-index: 400;
    }

    > .swapper-content {
        transition: $swapper-transition;
        z-index: 1001;

        opacity: 0;
        transform: $swapper-transform-off;

        &.swapper-active {
            transform: $swapper-transform-on;
            opacity: 1;
        }
    }
}
